<div class="helper-main-container" ng-class="{true:'active',false:'inactive'}[ctrl.active]">
    <button class="handle" ng-click="ctrl.active = true">
        ◈ 微信群发助手
    </button>

    <div class="h-panel">
        <button ng-click="ctrl.active = false" class="close h-btn h-btn-link">×</button>

        <h1>微信群发助手 <span class="text-muted">v3.0.0</span></h1>
        <span class="text-muted">by David & think2011</span>

        <div class="h-panel-body">
            <ul class="h-scene" ng-class="['scene' + ctrl.scene]">
                <li class="item text-center">
                    <button ng-click="ctrl.showSend()" class="h-btn">
                        群发信息
                    </button>
                </li>
                <li class="item">
                    <h2 class="has-hr">
                        <div class="pull-right">{{ctrl.sendData.sendLen}}/{{ctrl.sendData.allLen}}</div>
                        <img
                                style="vertical-align: text-top;width: 15px;"
                                src="//res.wx.qq.com/zh_CN/htmledition/v2/images/icon/ico_loading31b57c.gif"
                                alt=""> 正在发送..
                    </h2>
                    <div class="user has-hr">
                        <img class="img"
                             ng-src="{{ctrl.sendData.curAccount.HeadImgUrl}}"
                             alt="">
                        <span title="{{ctrl.sendData.curAccount.RemarkName || ctrl.sendData.curAccount.NickName}}"
                              ng-bind-html="trustAsHtml(ctrl.sendData.curAccount.RemarkName || ctrl.sendData.curAccount.NickName)">
                                        </span>
                    </div>
                    <div style="width: {{ctrl.sendData.progress + '%'}};" class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <div class="value">{{ctrl.sendData.progress}}%</div>
                </li>
                <li class="item">
                    <p class="has-hr">
                        <span class="text-primary">{{ctrl.sendData.allLen - ctrl.sendData.failList.length}}条</span>发送成功，
                        <span class="text-warning">{{ctrl.sendData.failList.length}}条</span>失败
                    </p>

                    <div class="actions">
                        <button ng-class="{true:'h-btn-link',false: 'h-btn-primary'}[!!ctrl.sendData.failList.length]"
                                ng-click="ctrl.toScene(1);ctrl.active=false;" class="h-btn">知道了
                        </button>
                        <button ng-if="ctrl.sendData.failList.length"
                                ng-click="ctrl.showSend(ctrl.sendData.failList,ctrl.sendData.msg)"
                                class="h-btn h-btn-warning">重发失败
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>