.helper-main-container {
  width: 230px;
  font-size: 14px;
  position: fixed;
  top: 0;
  right: 30px;
  z-index: 30000;

  * {
    box-sizing: border-box;
  }

  &.active {
    .handle {
      transform: translate(-50%, -100%);
    }

    .h-panel {
      transition-delay: .2s;
      transform: translate(0, 0);
    }
  }

  &.inactive {
    .handle {
      transition-delay: .2s;
      transform: translate(-50%, 0);
    }

    .h-panel {
      transform: translate(0, -110%);
    }
  }

  .close {
    position: absolute;
    right: 0;
  }

  .handle {
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 0 0 5px 5px;
    background: $color-primary;
    transition: transform .3s ease;
    transform: translate(-50%, -110%);
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.59);
    position: absolute;
    left: 50%;
    white-space: nowrap;
  }

  .h-panel {
    width: 100%;
    position: absolute;
    text-align: center;
    border: 1px solid #ccc;
    transform: translate(0, -110%);
    transition: transform .3s ease;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.59);
    background: #eee;

    h1 {
      font-size: 20px;
      margin-top: 10px;

      span {
        font-size: 12px;
      }
    }

    h1 + span {
      font-size: 13px;
    }

    .h-panel-body {
      text-align: left;
      margin: 10px 0 0 0;
      border-top: 1px solid #ddd;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      padding: 12px 0;
      background: #fff;

      > ul {
        &.scene1 {
          height: 31px;
        }

        &.scene2 {
          transform: translate(-100%, 0);
        }

        &.scene3 {
          height: 70px;
        }

        li {
          padding: 0 10px;

          h2 {
            font-size: 14px;
          }

          img {
            width: 40px;
            margin-right: 5px;
            vertical-align: middle;
          }

          .user {
            padding-bottom: 10px;
          }

          .value {
            text-align: center;
            color: $color-primary;
          }

          p {
            text-align: center;
            font-size: 15px;
            color: #333;
          }

          .actions {
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
  }

}