.helper-send-container {
  position: fixed;
  width: 720px;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 199111;
  background: #fff;
  transition: .3s ease;
  display: none;

  & + .backdrop {
    display: none;
  }

  .content {
    padding: 10px 30px;
  }

  &.show {
    display: block;

    & + .backdrop {
      display: block;
    }
  }

  &.hide {
    display: none;

    & + .backdrop {
      display: none;
    }
  }

  & + .backdrop {
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 199110;
  }

  &.step-1 {
    width: 620px;
    height: 450px;

    .footer {
      margin-top: 118px;
    }
  }

  &.step-2 {
    width: 950px;
    height: 823px;

    .btn-auto-groups {
      height: 27px;
      line-height: 1;
      font-size: 15px;
      position: absolute;
      right: 10px;
      top: 6px;
      padding: 0 5px;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }

    .footer {
      margin-top: 0;
    }
  }

  &.step-3 {
    width: 580px;
    height: 500px;
  }

  .head {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    background: #F2F2F2;
    text-align: center;
    font-weight: normal;

    button {
      height: 45px;
    }
  }

  .body {
    transition: .3s ease;

    min-height: 200px;
    padding: 0;

    .steps {
      width: 80%;
      margin: 20px auto;
    }

    .editor {
      pre {
        background: #F2F2F2;
        width: 80%;
        margin: 0 auto;
        padding: 8px 15px;
        font-size: 15px;
        height: 150px;
        border: 1px solid #ccc;
      }
    }
  }

  .transfer {
    width: 430px;
    min-height: 575px;
    border: 1px solid #eee;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
    position: relative;

    .checked-list {
      li {
        width: 100%;

        button {
          padding: 3px 5px;
          font-size: 14px;
          margin: 6px 10px 0 0;
        }
      }
    }

    .tool-bar {
      display: flex;
      padding: 5px 8px 8px;
      font-size: 14px;
      align-items: center;
      position: relative;
      border-bottom: 1px solid #eee;

      label {
        margin-right: 10px;
        margin-left: 2px;
      }

      input {
        padding: 5px 8px;
        flex: 1;
        border: 1px solid #ddd;
      }

      i.addchat_searchicon {
        position: absolute;
        right: 12px;
      }
    }

    .item {
      display: flex;
      flex-flow: column nowrap;
      height: 542px;
      overflow: auto;

      li {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        flex: none;
        cursor: pointer;
        border-bottom: 1px dashed #eee;

        &:active {
          opacity: 0.7;
        }

        > img {
          width: 35px;
          height: 35px;
          border-radius: 3px;
          margin: 0 10px 0 5px;
        }

        > span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &.groups {
        li {
          padding: 5px 0 5px 15px;
          position: relative;
          cursor: default;

          &:active {
            opacity: 1 !important;
          }

          &:hover {
            .add {
              opacity: 1;
            }
          }

          .label {
            transition: .3s;
            position: absolute;
            right: 10px;
            z-index: 2;

            &.stop {
              transform: translate(0, 0) !important;
            }
          }

          .add {
            position: absolute;
            right: 70px;
            padding: 0 5px;
            opacity: 0;
            transition: 0s;

            &:nth-child(2) {
              right: 120px;
            }
          }

          .del {
            opacity: 0;
            position: absolute;
            right: 0;
            z-index: 3;

            &:hover {
              opacity: 1;

              & + .label {
                transform: translate(-25px, 0);
              }
            }
          }
        }
      }
    }
  }

  .footer {
    border-top: 1px solid #eee;
    padding: 10px 25px;
    margin-top: 30px;
  }

  .editor-container {
    position: relative;
    transition: .3s ease;
    height: 165px;

    .action,
    .web_wechat_screencut,
    .web_wechat_pic,
    .exp_hd > li:nth-child(3) {
      display: none;
    }

    [ng-controller="chatSenderController"] {
      top: 0;
    }

    #mmpop_emoji_panel {
      margin-left: -16px;
      margin-top: -10px;
    }

    .toolbar {
      position: absolute;
      top: 15px;
      left: 35px;
    }

    pre {
      background: #F0F0F0;
      height: 120px;
      padding: 40px 10px 100px 10px;
      overflow: auto;
    }
  }

  .step3-container {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    font-size: 15px;
    min-height: 305px;
    overflow: auto;
    max-height: 305px;
    align-content: flex-start;

    > li {
      width: 100%;
      display: flex;
      margin-bottom: 15px;

      > label {
        color: #555;
        margin: 0 10px 0 0;
        flex: none;
      }

      > .content {
        margin: 0;
        padding: 0;
        max-height: 135px;
        overflow: auto;
        width: 100%;

        > label {
          margin-left: 5px;
          margin-bottom: 5px;
          display: block;
        }

        input[type=number] {
          padding: 3px 5px;
          width: 55px;
          border-radius: 3px;
          border: 1px solid #ddd;
        }
      }
    }
  }
}

.el-message {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  min-width: 300px;
  padding: 10px 12px;
  box-sizing: border-box;
  border-radius: 2px;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, -120%);
  opacity: 0;
  background-color: #fff;
  transition: opacity .3s, transform .4s;
  overflow: hidden;
  z-index: 199111;

  &.active {
    top: 0;
    transform: translate(-50%, 20px);
    opacity: 1;
  }

  .el-message__icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .el-message__group {
    margin-left: 38px;
    position: relative;
  }

  p {
    line-height: 1;
  }
}