<div class="helper-send-container" ng-class="{true:'active',false:'inactive'}[ctrl.active]">
    <h1 class="head">
        <button class="pull-right close h-btn h-btn-link">×</button>
        群发信息
    </h1>
    <div class="body">
        <ul class="steps">
            <li class="item current"><span>输入内容</span></li>
            <li class="item "><span>选择联系人</span></li>
            <li class="item"><span>确认发送</span></li>
        </ul>
    </div>
    <div class="footer">

    </div>
</div>
<div class="backdrop"></div>