$color-primary: #D9D9D9;

.ngdialog.default.transfer .ngdialog-content {
  width: 720px;
}

.transfer-container {
  display: flex;
  margin: 10px;
}

.transfer {
  width: 100%;
  border: 1px solid $color-primary;
  border-radius: 5px;
  color: #666;
  display: inline-block;
  vertical-align: top;

  * {
    box-sizing: border-box;
  }

  &-head {
    padding: 5px 8px;
    border-bottom: 1px solid $color-primary;

    .type {
      float: right;
    }
  }

  &-list {
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 2px;
      vertical-align: middle;
    }
  }

  &-body {
  }

  &-search {
    text-align: center;
    margin: 5px 0;

    input {
      width: 85%;
      border-radius: 5px;
      border: 1px solid $color-primary;
      padding: 5px 8px;
    }
  }

  &-list {
    max-height: 450px;
    overflow-y: auto;

    li label {
      margin: 0;
      padding: 8px 10px;
      display: block;
      cursor: pointer;
      transition: .3s;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &:hover {
        background: #eee;
      }

      input {
        display: none;
      }
    }
  }

  .btn {
    display: inline-block;
    width: 200px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    background-color: #42AC3E;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: none;
    margin: 0 0 10px 0;
  }
}

.transfer-operation {
  vertical-align: top;
  display: inline-block;
  margin: 0 8px;
  align-self: center;

  button {
    margin-bottom: 5px;
    display: block;
    background: #42AC3E;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
      background: #C9C9C9;
    }
  }
}

.text-center {
  text-align: center;
}