<div class="dialog_hd">
    <h3 class="title">群发信息助手</h3>
</div>

<ul class="nav_tabs">
    <li ng-click="ctrl.tab = 0" ng-class="{selected: ctrl.tab === 0}" class="nav_tab">按联系人</li>
    <li ng-click="ctrl.tab = 1" ng-class="{selected: ctrl.tab === 1}" class="nav_tab">按分组</li>
</ul>


<div ng-show="ctrl.tab === 0" class="dialog_bd">
    <div class="transfer-container">
        <div class="transfer from">
            <div class="transfer-head">
                <label>
                    {{ctrl.from.items.length}} 条
                </label>

                <span class="type">联系人列表</span>
            </div>

            <div class="transfer-body">
                <div class="transfer-search">
                    <input ng-model="ctrl.from.search" type="search" placeholder="请输入搜索内容">
                </div>
                <ul class="transfer-list">
                    <li ng-repeat="item in ctrl.from.items | filter:ctrl.from.search track by $index">
                        <label>
                            <i ng-class="{'web_wechat_choose_wireframe':item.checked === false,'web_wechat_choose_green':item.checked === true}"
                            ></i>
                            <input ng-init="item.checked = false" ng-model="item.checked" type="checkbox">
                            <img class="avatar" ng-src="{{item.HeadImgUrl}}" alt="">
                            <span ng-bind-html="trustAsHtml(item.RemarkName || item.NickName)"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="transfer-operation">
            <button ng-disabled="!ctrl.hasSomeChecked(ctrl.to.items)"
                    ng-click="ctrl.transfer(ctrl.to.items, ctrl.from.items)">
                <
            </button>
            <button ng-disabled="!ctrl.hasSomeChecked(ctrl.from.items)"
                    ng-click="ctrl.transfer(ctrl.from.items, ctrl.to.items)">
                >
            </button>
        </div>

        <div class="transfer to">
            <div class="transfer-head">
                <label>
                    {{ctrl.to.items.length}} 条
                </label>

                <span class="type">
                    <span ng-show="ctrl.to.items.length">
                    <a class="_btn-small"
                       href="javascript">存为分组</a></span>

                <span ng-show="!ctrl.to.items.length">已选列表</span>
                </span>
            </div>

            <div class="transfer-body">
                <div class="transfer-search">
                    <input ng-model="ctrl.to.search" type="search" placeholder="请输入搜索内容">
                </div>
                <ul class="transfer-list">
                    <li ng-repeat="item in ctrl.to.items | filter:ctrl.to.search track by $index">
                        <label>
                            <i ng-class="{'web_wechat_choose_wireframe':item.checked === false,'web_wechat_choose_green':item.checked === true}"
                            ></i>
                            <input ng-model="item.checked" type="checkbox">
                            <img class="avatar" ng-src="{{item.HeadImgUrl}}" alt="">
                            <span ng-bind-html="trustAsHtml(item.RemarkName || item.NickName)"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-show="ctrl.to.items.length" class="text-center">
        <button ng-click="closeThisDialog(ctrl.to.items)" class="btn">去群发</button>
    </div>
</div>

<div ng-show="ctrl.tab === 1" class="dialog_bd">
</div>

