<div class="dialog_hd">
    <h3 class="title">添加群发好友</h3>
</div>
<div class="dialog_bd">
    <div class="transfer-container">
        <div class="transfer from">
            <div class="transfer-head">
                <label>
                    <input type="checkbox">
                    {{ctrl.from.items.length}} 条
                </label>

                <span class="type">好友列表</span>
            </div>

            <div class="transfer-body">
                <div class="transfer-search">
                    <input ng-model="ctrl.from.search" type="search" placeholder="请输入搜索内容">
                </div>
                <ul class="transfer-list">
                    <li ng-repeat="item in ctrl.from.items | filter:ctrl.from.search track by $index">
                        <label>
                            <i ng-class="{'web_wechat_choose_wireframe':item.checked === false,'web_wechat_choose_green':item.checked === true}"
                            ></i>
                            <input ng-init="item.checked = false" ng-model="item.checked" type="checkbox">
                            <img class="avatar" ng-src="{{item.HeadImgUrl}}" alt="">
                            <span ng-bind-html="trustAsHtml(item.RemarkName || item.NickName)"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="transfer-operation">
            <button ng-disabled="!ctrl.hasSomeChecked(ctrl.to.items)"
                    ng-click="ctrl.transfer(ctrl.to.items, ctrl.from.items)">
                <
            </button>
            <button ng-disabled="!ctrl.hasSomeChecked(ctrl.from.items)"
                    ng-click="ctrl.transfer(ctrl.from.items, ctrl.to.items)">
                >
            </button>
        </div>

        <div class="transfer to">
            <div class="transfer-head">
                <label>
                    <input type="checkbox">
                    {{ctrl.to.items.length}} 条
                </label>

                <span class="type">发送列表</span>
            </div>

            <div class="transfer-body">
                <div class="transfer-search">
                    <input ng-model="ctrl.to.search" type="search" placeholder="请输入搜索内容">
                </div>
                <ul class="transfer-list">
                    <li ng-repeat="item in ctrl.to.items | filter:ctrl.to.search track by $index">
                        <label>
                            <i ng-class="{'web_wechat_choose_wireframe':item.checked === false,'web_wechat_choose_green':item.checked === true}"
                            ></i>
                            <input ng-model="item.checked" type="checkbox">
                            <img class="avatar" ng-src="{{item.HeadImgUrl}}" alt="">
                            <span ng-bind-html="trustAsHtml(item.RemarkName || item.NickName)"></span>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-show="ctrl.to.items.length" class="text-center">
        <button class="btn">去群发</button>
    </div>
</div>
